/* global stayel */
*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
body{
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration:none ;
}
img{
    width: 100%;
}
/* navbar stayel */
.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
}
.navbar .logo{
    display: inline-block;
    width: 45%;
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
}
.navbar .logo img{
    width: 200px;
}
.navbar ul{
    display: inline-block;
    width: 45%;
    text-align: right;
}
.navbar ul li{
    font-size: 19px;
    padding: 15px;
    display: inline-block;
    margin-right: 10px;
}
.navbar ul li a{
    color: white;
}
/* header stayel */
.header h1{
    font-size: 450%;
}
.header{
    
    background-image: url(../im/baking\ 6.jpg);
    height: 115vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}
.header .text{
    padding-top: 10%;
    font-size: 40px;
}
.header .btn1{
    background-color: #8e7754;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 22px;
}
.header .btn2{
    border-radius: 5%;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white
}
.sc2 .text .icon{
    vertical-align: top;
}
.sc2 .text .icon img{
    margin: 10px;
    vertical-align: bottom;
    border-radius: 50%;
    height: 35px;
width: 35px;
}
.sc2 .text{
    vertical-align: top;
    display: inline-block;
    width: 45%;
    text-align: left;
}
.sc2 .img {
    display: inline-block;
    width: 45%;
}
.sc2 .img img{
    width: 85%;
}
.sc2 h2{
    color: black;
}
.sc2{
    color: #8e7754;
    margin: 5%;
    text-align: left;
}
/* sc3 */
.sc3 .text{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.sc3 .img{
    display: inline-block;
    text-align: right;
    width: 45%;
}
.sc3 .img img{
    width: 85%;
}
.sc3 h2{
    color: black
}
.sc3{
    color: #8e7754;
    margin: 5%;
    text-align: left;
    background-color:#f8f8f8;
}
/* our baking */
.our-Baking{
    text-align: center;
    background-color: white;
}
.our-Baking p{
    color: rgb(112, 96, 76);
}
.our-Baking .items{
    display: inline-block;
    width: 30%;
}
img{
    max-width: 90%;
}
/* sc4 */
.sc4 .text .icons img{
    border-radius: 50%;
    height: 35px;
width: 35px;
margin: 10px;
}
.sc4{
    background-color: #f8f8f8;
    padding: 5%;
    text-align: center;
}
.sc4 .text{
    display: inline-block;
    width: 45%;
    color: #8e7754;
    text-align: left;
}
.sc4 .text h2{
    color: black;
}
.sc4 .iframe {
    display: inline-block;
    width: 45%;
}
/* sc5 */
.sc5{
   
    color: #969696;
    background-color: #403d38;
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
}
.sc5 h3{
    color: white;
}
.sc5 .p1{
    
    vertical-align: top;
    text-align: left;
    width: 23%;
    display: inline-block
}
.sc5 .p2{
    vertical-align: top;
    text-align: left;
    width: 23%;
    display: inline-block
}
.sc5 .p2 p{
    border-bottom: beige;
}
.sc5 .p3{
    vertical-align: top;
    text-align: left;
    width: 23%;
    display: inline-block
}
.sc5 .p4{
    background-image: url(./../im/13.b-removebg-preview.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: top;
    text-align: left;
    width: 23%;
    display: inline-block;
    vertical-align: top;
}
  .sc5 .p4 .d1 img{
    width: 35px;
    height: 35px;
}
.sc5 .p4 .d1 a{
    color: #969696;
}
/* lsc */
.lsc{
    padding: 75px;
    text-align: center;
    background-color: #353330;
    color: #96969698;
}
.lsc .im img{
    padding: 10px;
    width: 350px;
}
.lsc .ico{
    display: inline-block;
}
.lsc .ico img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.lsc a{
    width: 40px;
    height: 40px;
    background-color: beige ;
    color: #969696;
    border-radius: 50%;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
    line-height: 40px;
}
.lsc i{
    margin-top: 10px;
    
}

